<p id="notice"><%= notice %></p>

<h1 class="main-title">Flowers</h1>

<table>
  <thead>
    <tr class="properties" >
      <th class="title">Title</th>
      <th class="desc">Description</th>
      <th class="flowering">Flowering time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flowers.each do |flower| %>
      <tr>
        <td><%= flower.title %></td>
        <td><%= flower.description %></td>
        <td><%= flower.flowering_time %></td>
        <td><%= link_to 'Show', flower %></td>
        <td><%= link_to 'Edit', edit_flower_path(flower) %></td>
        <td><%= link_to 'Destroy', flower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn-divider">
  <button class = "new-flower">
    <%= link_to 'New Flower', new_flower_path %>
  </button>
</div>

