<p id="notice"><%= notice %></p>

<h1 class="main-title">Flowers</h1>

<%= form_tag flowers_path, method: :get do %>
  <%= label_tag :query, "Search for:" %>
  <%= text_field_tag :query, params[:query] %>
<% end %>

<table id="flowers">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Flowering time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flowers.each do |flower| %>
      <tr>
        <td ><%= flower.title %></td>
        <td ><%= flower.description %></td>
        <td ><%= flower.flowering_time %></td>
        <td ><%= link_to 'Show', flower %></td>
        <td><%= link_to 'Edit', edit_flower_path(flower) %></td>
        <td><%= link_to 'Destroy', flower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn-divider">
  <button class = "new-flower">
    <%= link_to 'New Flower', new_flower_path %>
  </button>

  <button class = "new-flower">
    <%= link_to 'Orders', orders_path %>
  </button>
</div>