<h1>Orders</h1>

<h2>Generate report</h2>
<%= form_with url: generate_report_order_path(1), method: :get do |f| %>
  <fieldset>
    <input type="month" id="month" name="month">
    <%= f.submit 'Generate' %>
  </fieldset>
<% end %>

<table id="flowers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Flower</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Finished at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.username %></td>
        <td><%= order.flower.title %></td>
        <td><%= order.quantity %></td>
        <td><%= order.status %></td>
        <td><%= order.created_at %></td>
        <td><%= order.updated_at %></td>
        <% if order.pending? %>
          <td><%= link_to 'Finish', finish_order_path(id: order.id), method: :post %></td>
          <td><%= link_to 'Cancel', cancel_order_path(id: order.id), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', flowers_path, :class => 'back-btn' %>
