<h1>
  <strong>Order (ID: <%= @order.id %>)</strong>
</h1>

<p>
  <strong>User:</strong>
  <%= @order.user.username %> (ID: <%= @order.user_id %>)
</p>

<h2>Order Flowers</h2>

<table id="flowers">
  <thead>
    <tr>
      <th>ID</th>
      <th>Flower title</th>
      <th>Quantity</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_flowers.each do |order_flower| %>
      <tr>
        <td><%= order_flower.id %></td>
        <td><%= order_flower.flower.title %></td>
        <td><%= order_flower.quantity %></td>
        <td><%= order_flower.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', orders_path, :class => 'back-btn' %>
